@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@keyframes rightGrow {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }
}


@keyframes upDown {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.MyTopics {
    width: 100%;
    height: inherit;
    border-radius: 0 20px 20px 0;
    position: sticky;
}

.Heading {
    width: 100%;
    padding-top: 4%;
    padding-bottom: 6%;
    text-align: center;
    color: #575C55;
    font-family: 'Geo', sans-serif;
    font-size: 30pt;
}

.MyTopicContent {
    width: 100%;
    height: 80%;
    overflow: auto;
    border-radius: 20px;
    border: none;
    border-width: 1.5px;
    scrollbar-width: 5px;
}

.FragmentLayer {
    width: inherit;
}

.MyTopicCard {
    width: 80%;
    height: fit-content;
    max-height: 31pt;
    margin: 2% 0 0 5%;
    text-align: left;
    font-family: 'Muli';
    background-color: rgba(230, 230, 230, 0.178);
    color: #6B3D1B;
    font-size: 13pt;
    text-overflow: clip;
    overflow: hidden;
    border: solid;
    border-width: 0 0 0 2.5px;
    border-left-color: #89BD9E;
    padding: 4px 0 4px 10px;
    float: left;
    animation-name: upDown;
    animation-duration: 2s;
}

.Show {
    width: 5%;
    height: 31pt;
    background-color: #C7F2A7;
    float: left;
    margin: 2% 0 5% 0;
    padding: 4px 0 4px 10px;
    opacity: 0;
    position: relative;
}

.Show span {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.FragmentLayer:hover .Show {
    opacity: 1;
    transition: all 0.4s ease 0s;
    background-position: -120px;
    animation-name: rightGrow;
    animation-duration: 0.5s;
}

.MyTopicCard:hover {
    border-left-color: #444554;
    color: orange;
}